root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
ij_kotlin_imports_layout = ascii
max_line_length = 140

[*.{xml,html}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.js]
indent_size = 4

[*.css]
indent_size = 4